.custom-select-container .react-select__control {
  background-color: rgb(243, 244, 246); /* Change the background color */
  color: rgb(82, 82, 82); /* Change the text color */
  height: 2.625rem;
  border: 1px solid #d1d5db;
}

.react-select__control:hover {
  border: 1px solid #d1d5db !important;
}

.react-select__control:focus-within {
  outline: 3px solid #93c5fd !important;
}

/* .react-select__control--is-focused {
  box-shadow: none !important;
  border-radius: 0.25rem !important;
} */

.custom-select-container .react-select__placeholder {
  color: rgb(55, 65, 81) !important; /* Change the placeholder color */
}

.custom-select-container .react-select__single-value {
  color: rgb(55, 65, 81) !important; /* Change the text color */
}

.custom-select-container .react-select__menu {
  background-color: rgb(
    243,
    244,
    246
  ); /* Change the dropdown background color */
  /* For modern browsers */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  /* For WebKit-based browsers */
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.custom-select-container .react-select__option--is-selected {
  color: rgb(
    243,
    244,
    246
  ) !important; /* Change the selected option text color */
}

.custom-select-container .react-select__option--is-focused {
  background-color: rgb(
    102,
    157,
    245
  ) !important; /* Change the hovered option background color */
}

.custom-select-container .react-select__input {
  color: rgb(55, 65, 81) !important; /* Change the search text color */
}

.custom-select-container .react-select__input input {
  color: rgb(55, 65, 81) !important; /* Change the search text color */
}

.custom-select-container .react-select__input > div {
  color: rgb(55, 65, 81) !important; /* Ensure search text color */
}

input,
textarea {
  background-color: rgb(243, 244, 246); /* Background color */
  color: black; /* Text color */
}

input::placeholder,
textarea::placeholder {
  color: rgb(55, 65, 81); /* Placeholder text color */
}
